In [3]:
import numpy
import pandas
import matplotlib

In [1]:
d={1:'Nikita',2:"Navya",3:"Nandini"}
print (d[1])
print(d[3])
print(d[2])

Nikita
Nandini
Navya

In [2]:
i=1
while i<=len(d):
    print(d[i])
    i+=1

Nikita
Navya
Nandini

In [7]:
print (type(d))

<class 'dict'>

In [3]:
print (d.keys())

dict_keys([1, 2, 3])

In [4]:
print (d.values())

dict_values(['Nikita', 'Navya', 'Nandini'])

In [5]:
print (d)

{1: 'Nikita', 2: 'Navya', 3: 'Nandini'}

In [6]:
print (d.items())

dict_items([(1, 'Nikita'), (2, 'Navya'), (3, 'Nandini')])

In [7]:
d1=d.copy()

In [8]:
print (d1)

{1: 'Nikita', 2: 'Navya', 3: 'Nandini'}

In [11]:
d1.pop(3)

'Nandini'

In [12]:
print(d1)

{1: 'Nikita', 2: 'Navya'}

In [13]:
d1.popitem()

(2, 'Navya')

In [14]:
print(d1)

{1: 'Nikita'}

In [18]:
print(d1)

{1: 'Ananya', 3: 'Khayati', 4: 'Krishna', 5: 'Nikita'}

In [19]:
d1.popitem()

(5, 'Nikita')

In [20]:
print(d1)

{1: 'Ananya', 3: 'Khayati', 4: 'Krishna'}

In [31]:
tup=()
print (type(tup))

<class 'tuple'>

In [ ]:
#Create dictionary to store n student details with rollno,name,age field.

In [15]:
XII={}
i=1
n=int(input("Enter the number of students"))
while i<=n:
    roll=int(input("Enter Roll number"))
    name=input("Enter name")
    marks=int(input("Enter marks"))
    XII[roll]=(name,marks)
    i+=1
print (XII)

Enter the number of students3
Enter Roll number9120321
Enter nameNavya
Enter marks95
Enter Roll number9120322
Enter nameNikita
Enter marks96
Enter Roll number9120323
Enter nameNandini
Enter marks95
{9120321: ('Navya', 95), 9120322: ('Nikita', 96), 9120323: ('Nandini', 95)}

In [18]:
k=XII.keys()
print(k)

dict_keys([9120321, 9120322, 9120323])

In [19]:
print ("Roll\t\tName\t\tMarks")
for i in k:
    j=XII[i]
    print (i,end="\t\t")
    for a in j:
        print(a,end="\t\t")
    print(" ")

Roll		Name		Marks
9120321		Navya		95
9120322		Nikita		96
9120323		Nandini		95

In [5]:
import pandas as pd
import numpy as np

In [17]:
arr=np.array([1,2,3,4,5])
s=pd.Series(arr,index=[0,1,2,3,4])
#print (arr)

print (s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [12]:
d={1:"Ananya",2:'Diksha',3:"Khayati",4:"Krishna",5:"Nikita",6:"Tanmay"}
s1=pd.Series(d, index=[2,4,3,1,6,5])
print(s1)

2     Diksha
4    Krishna
3    Khayati
1     Ananya
6     Tanmay
5     Nikita
dtype: object

In [18]:
s2=pd.Series(5,index=[0,1,2,3,4])
print(s2)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [20]:
s3=(s+s2)*2
print (s3)

0    12
1    14
2    16
3    18
4    20
dtype: int64

In [21]:
print (s.tail(3))

2    3
3    4
4    5
dtype: int32

In [22]:
print (s.head(3))

0    1
1    2
2    3
dtype: int32

In [26]:
print (s[[3,4]])

3    4
4    5
dtype: int32

In [24]:
print (s[:3])

0    1
1    2
2    3
dtype: int32

In [3]:
d={"Navya":1000,"Nandini":100,"Nikita":500}
k=d.keys()
str1=input("Enter the key you want to search")
flag=0
for i in k:
    if i==str1:
        print(d[i])
        flag=1
if flag==0:
    print("Key not found")

Enter the key you want to searchNandini
100

In [1]:
C={}
n=int(input("Enter the number of countires"))
i=1
while i<=n:
    cname=input("Enter country name")
    capital=input("Enter the capital")
    curr=input("Enter the currency")
    C[cname]=(capital,curr)
    i=i+1
print (C)
k=C.keys()
print ("Country\t\t\tCapital\t\t\tCurrency")
for i in k:
    j=C[i]
    print (i,end="\t\t\t")
    for a in j:
        print(a,end="\t\t\t")
    print(" ")

Enter the number of countires1
Enter country nameindia
Enter the capitaldelhi
Enter the currencyrupee
{'india': ('delhi', 'rupee')}
Country			Capital			Currency
india			delhi			rupee

In [18]:
str1="my name is pulkit mehndiratta"
d={}
for c in str1:
    if c not in d:
        d[c] = 1
    else:
        d[c] = d[c] + 1
print (d)

{'m': 3, 'y': 1, ' ': 4, 'n': 2, 'a': 3, 'e': 2, 'i': 3, 's': 1, 'p': 1, 'u': 1, 'l': 1, 'k': 1, 't': 3, 'h': 1, 'd': 1, 'r': 1}

In [4]:
d={'t':4, 'h':1,'i':3,'s':4,' ':4,'m':1,'y':1,'f':1,'r':1,'e':1}
k=d.keys()
print(k)
a=input("Enter the key you want to search")
if a in k:
    print("Key is present")
else:
    print("Key is not present")

dict_keys(['t', 'h', 'i', 's', ' ', 'm', 'y', 'f', 'r', 'e'])
Enter the key you want to searcha
Key is not present

In [27]:
#Write a Python program to combine two dictionary adding values for common keys.
#d1 = {'a': 100, 'b': 200, 'c':300}
#d2 = {'a': 300, 'b': 200, 'd':400}
#Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
k=d2.keys()
for k in d2:
    if k not in d1:
        d1.update(d2)
    else:
        d1[k]=d1[k]+d2[k]
print(d1)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}

In [29]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1) # don't do `d3=d1`, you need to make a copy
print(d3)
d3.update(d2) 
print(d3)
for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
print(d3)

{'a': 100, 'b': 200, 'c': 300}
{'a': 300, 'b': 200, 'c': 300, 'd': 400}
{'a': 400, 'b': 400, 'c': 300, 'd': 400}