In [1]:
str1=input("Enter the string")
str2=input("Enter the alphabet")
count=0
for i in str1:
    if i==str2:
        count=count+1
print(count)

Enter the stringMy name is nandini khera
Enter the alphabetn
4

In [2]:
l=[1,2,3,4,5,6,7,6,5,4,5,6,7,8,7,6,4,3,2,21,3,4,5,6,7,8,9,7,56,4,3,3,4,5,6,7,8,9]
l.count(6)

6

In [9]:
d={"Navya":1000,"Nandini":100,"Nikita":500}
k=d.keys()
str1=input("Enter the key you want to search")
flag=0
for i in k:
    if i==str1:
        print(d[i])
        flag=1
if flag==0:
    print("Key not found")

Enter the key you want to searchDiksha
Key not found

Enter the number of countires2
Enter country nameQatar
Enter the capitalDoha
Enter the currencyDinar
Enter country nameIndia
Enter the capitalDelhi
Enter the currencyRupee
{'Qatar': ('Doha', 'Dinar'), 'India': ('Delhi', 'Rupee')}
Country			Capital			Currency
Qatar			Doha			Dinar
India			Delhi			Rupee

In [ ]:
str1="my name is navya dua. i love to see netflix and chill."
d={'m':2,'n':4}