In [4]:
def varpafu(*x): 
    print(x)
    
varpafu()
varpafu(34,"Do you like Python?", "Of course")
varpafu(1,2,3)
varpafu("My name is kanishk Mittal")

()
(34, 'Do you like Python?', 'Of course')
(1, 2, 3)
('My name is kanishk Mittal',)

In [5]:
def func1(list1):
    print (list1)
    list1 += [47,11]
    print (list1)

fib = [0,1,1,2,3,5,8]
func1(fib)

[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 47, 11]

In [8]:
#Write a function which calculates the arithmetic mean of a variable number of values.
def means(*l):
    s=0
    for i in l:
        s+=i
    avg=s/(len(l))
    return avg

print(means(4,8))
print(means(24,5,4,24,4,10))
print(means(1,2,3,4,5,6,7,8,9))

6.0
11.833333333333334
5.0

In [24]:
def s(a,b,c):
    print (a)
    print (b)
    print (c)

p=(1,2,3)
s(p[0],p[1],p[2])
s(*p)

1
2
3
1
2
3

In [26]:
def d(**a):
    for i in a:
        print (a[i])

aa={'p':'Pulkit','r':'Rahul','t':'Tisha','v':'Vaibhav','k':'Kamaal','g':'Garvita'}
d(**aa)

Pulkit
Rahul
Tisha
Vaibhav
Kamaal
Garvita

In [37]:
#Write a  function max to find out larrrrrrrgest element in the tuple (note: length of tuple can be variable)
def maximum(l,size):
    m=0
    for i in range(size):
        if m<l[i]:
            m=l[i]
    return m

a=[1234,4564,657345,7876,2342,56,97345,236786,45656,234]
b=len(a)
print(maximum(a,b))

657345

In [2]:
def s(a,b):
    c=a+b
    return c
s(2,3)

5

In [ ]:
L=[1,2,3]
6